# JDisplay color memory display controller configuration options

# Copyright (c) 2020 Rohit Gujarathi
# SPDX-License-Identifier: Apache-2.0

config LPM0XX
	bool "LPM0XX memory display controller driver"
	depends on SPI
	help
	  Enable driver for Japan display color memory LCD

config LPM0XX_VCOM_DRIVER
	bool "VCOM toggling is handled by driver"
	depends on LPM0XX
	default y if LPM0XX
	help
	  VCOM will be toggled by driver based on extcomin-gpios defined
	  devicetree, else user has to handle toggling. If LPM0XX_VCOM_DRIVER=n and
	  using serial mode then user has to handle contention between
	  SPI transfers for write and VCOM toggle cmd.

